$color-white: #fff
$color-green: #4CAF50

#map
	position: absolute 
	top: 0
	bottom: 0
	width: 100%
	left: 0
.user
	position: absolute
	z-index: 100
	height: 100%
	background: $color-white
	right: 0
.cover
	border-radius: 50%
.tt-menu
	width: 100%
	border: 1px solid $color-green
	// foi preciso usar esse !important pq o plugin sempre sobreescreve essas propiedades 
	top: 47px !important
	background: $color-white