<div class="col s2 user">
	<div class="col s12 center">
		<img ng-src="{{user.photo.prefix}}100x100{{user.photo.suffix}}" ng-if="user.photo" class="cover">
	</div>
	<div class="col s12 center">
		<a href="{{user.canonicalUrl}}">{{user.firstName}} {{user.lastName}}</a>
		<a class='dropdown-button btn' href='#' data-activates='dropdown1'>Drop Me!</a>
		<ul id='dropdown1' class='dropdown-content'>
			<li><a href="" ng-click="changeShow('primer')">Pesquisar lugares</a></li>
			<li><a ng-click="changeShow('second')">Mapa de calor</a></li>
			<li><a ng-click="changeShow('third');search()">Top five checkin</a></li>
		</ul>
        <div class="input-field col s12" ng-if="show==='primer'">
          <input id="last_name" class="validate" type="text" sf-typeahead datasets="options" ng-model="searchInGeo.category" placeholder="O que está procurando?">
        </div>
        <div class="input-field col s12" ng-if="show==='primer'">
          <input id="last_name" class="validate" type="number" max="10000" ng-model="searchInGeo.km">
          <label for="last_name">No raio de quantos km?</label>
        </div>

        <div class="input-field col s12" ng-if="show==='second'">
        	<div class="input-field col s12">
          <input id="last_name" class="validate" type="text" sf-typeahead datasets="optionsByCity" ng-model="searchInGeo.city" placeholder="Procure por cidades"></div>
        </div>
        <a class="waves-effect waves-light btn" ng-click="search()" ng-if="show==='primer'||show==='second'">Pesquisar</a>
	</div>
</div>
<div class="col s10" id="myMap">
	<div id='map'></div>
</div>